<p id="notice"><%= notice %></p>

<h1>Listing Eatens</h1>

<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Portion factor</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eatens.each do |eaten| %>
      <tr>
        <td><%= eaten.food.name %></td>
        <td><%= eaten.portion_factor %></td>
        <td><%= eaten.date %></td>
        <td><%= link_to 'Show', eaten %></td>
        <td><%= link_to 'Edit', edit_eaten_path(eaten) %></td>
        <td><%= link_to 'Destroy', eaten, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eaten', new_eaten_path %>
